In [17]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import datetime
from sqlalchemy import create_engine

In [18]:
#Llegeix fitxer "Extracció_tot_2021_2022.xlsx" i penja les dades a la taula "estacions_full"

contaminants_i_nutrients = ["Ciprofloxacina", "Clorobenzè", "Hexabromociclodecà", "Nonilfenols", "Octilfenols", "Tetracloroetilè", "Triclorometà", "Cloroalcans", "Niquel", "Plom", "Diuron"]

In [19]:
def f(unit, value):
    if "µg" in unit:
        return float(value) * 1000
    elif "mg" in unit:
        return float(value) * 1000000
    else:
        return float(value)

In [20]:
engine = create_engine('postgresql://traca_user:EdificiH2O!@217.61.208.188:5432/traca_1')
localitzacio_estacions = pd.read_sql('SELECT cod_esta_1, utm_x, utm_y FROM concentracions', engine)
localitzacio_estacions = localitzacio_estacions.drop_duplicates()

In [21]:
localitzacio_estacions = localitzacio_estacions.set_index('cod_esta_1')
localitzacio_estacions

             utm_x    utm_y
cod_esta_1
140015000   472830  4621157
200031000   480160  4651693
200008000   437543  4670858
100065000   400530  4636154
200024000   450572  4642446
...            ...      ...
060005000   364707  4573514
H180001000  421436  4570049
200003010   418048  4685756
090001000   399683  4573861
TB3         452084  4627679

[384 rows x 2 columns]

In [22]:
df = pd.read_excel("inputs//Extracció_tot_2021_2022.xlsx")
df

,fecha,estacion,cod_estaci,variable,unidad_med,valor_alfa,valor
0,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Alumini,µg/L,<100,50.0000
1,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Amoni,mg NH4/L,<0.2,0.1000
2,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Amoníac no ionitzat,mg NH3/L,<0.025,0.0125
3,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Antimoni,µg/L,<5,2.5000
4,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Arsènic,µg/L,2,2.0000
...,...,...,...,...,...,...,...
333608,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Sulfats,mg/L,99,99.0000
333609,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Suma d'anions,meq/L,8.3517,8.3517
333610,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Suma de cations,meq/L,8.1841,8.1841
333611,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Temperatura de l'aigua,ºC,20.7,20.7000
333612,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,TOC,mg/L,2.0,2.0000

In [23]:
df = df[df['cod_estaci'].str[0].str.isdigit()]

In [24]:
df

,fecha,estacion,cod_estaci,variable,unidad_med,valor_alfa,valor
0,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Alumini,µg/L,<100,50.0000
1,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Amoni,mg NH4/L,<0.2,0.1000
2,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Amoníac no ionitzat,mg NH3/L,<0.025,0.0125
3,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Antimoni,µg/L,<5,2.5000
4,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Arsènic,µg/L,2,2.0000
...,...,...,...,...,...,...,...
333608,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Sulfats,mg/L,99,99.0000
333609,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Suma d'anions,meq/L,8.3517,8.3517
333610,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Suma de cations,meq/L,8.1841,8.1841
333611,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Temperatura de l'aigua,ºC,20.7,20.7000
333612,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,TOC,mg/L,2.0,2.0000

In [25]:
df['utm_x'] = 0
df['utm_y'] = 0

C:\Users\jsalo\AppData\Local\Temp\ipykernel_15244\3301491827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['utm_x'] = 0
C:\Users\jsalo\AppData\Local\Temp\ipykernel_15244\3301491827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['utm_y'] = 0

In [28]:
for index, row in df.iterrows():
    try:
        codi = str(row['cod_estaci'])
        df.loc[index, 'utm_x'] = localitzacio_estacions.loc[codi, 'utm_x']
        df.loc[index, 'utm_y'] = localitzacio_estacions.loc[codi, 'utm_y']

    except:
        if codi == '070001070':
            df.loc[index, 'utm_x'] = 377293
            df.loc[index, 'utm_y'] = 4563761
        elif codi == '095001000':
            df.loc[index, 'utm_x'] = 416605
            df.loc[index, 'utm_y'] = 4576233
        elif codi == '100014030':
            df.loc[index, 'utm_x'] = 409565
            df.loc[index, 'utm_y'] = 4659316
        elif codi == '100021030':
            df.loc[index, 'utm_x'] = 422202
            df.loc[index, 'utm_y'] = 4669805
        elif codi == '100046030':
            df.loc[index, 'utm_x'] = 409032
            df.loc[index, 'utm_y'] = 4615301
        elif codi == '100054030':
            df.loc[index, 'utm_x'] = 391575
            df.loc[index, 'utm_y'] = 4661673
        elif codi == '1000640C5':
            df.loc[index, 'utm_x'] = 397138
            df.loc[index, 'utm_y'] = 4629000
        elif codi == '1000640C6':
            df.loc[index, 'utm_x'] = 397235
            df.loc[index, 'utm_y'] = 4629814
        elif codi == '100074020':
            df.loc[index, 'utm_x'] = 409149
            df.loc[index, 'utm_y'] = 4598244
        elif codi == '158180000':
            df.loc[index, 'utm_x'] = 293104
            df.loc[index, 'utm_y'] = 4597019
        elif codi == '190004000':
            df.loc[index, 'utm_x'] = 513701
            df.loc[index, 'utm_y'] = 4650219
        elif codi == '200008030':
            df.loc[index, 'utm_x'] = 436652
            df.loc[index, 'utm_y'] = 4667979
        elif codi == '200011030':
            df.loc[index, 'utm_x'] = 438731
            df.loc[index, 'utm_y'] = 4662224
        elif codi == '200024011':
            df.loc[index, 'utm_x'] = 449370
            df.loc[index, 'utm_y'] = 4631505
        elif codi == '200029030':
            df.loc[index, 'utm_x'] = 461690
            df.loc[index, 'utm_y'] = 4644066
        elif codi == '210001030':
            df.loc[index, 'utm_x'] = 449918
            df.loc[index, 'utm_y'] = 4666145
        elif codi == '210003030':
            df.loc[index, 'utm_x'] = 450506
            df.loc[index, 'utm_y'] = 4674098
        elif codi == '210007030':
            df.loc[index, 'utm_x'] = 455730
            df.loc[index, 'utm_y'] = 4679623
        elif codi == '220001030':
            df.loc[index, 'utm_x'] = 475372
            df.loc[index, 'utm_y'] = 4686295
        elif codi == '220002030':
            df.loc[index, 'utm_x'] = 478606
            df.loc[index, 'utm_y'] = 4691654

In [29]:
df.to_sql(con=engine, name='estacions_full', if_exists='append', index=False)

579

In [50]:
df

,fecha,estacion,cod_estaci,variable,unidad_med,valor_alfa,valor,utm_x,utm_y
0,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Alumini,µg/L,<100,50.0000,429594,4610324
1,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Amoni,mg NH4/L,<0.2,0.1000,429594,4610324
2,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Amoníac no ionitzat,mg NH3/L,<0.025,0.0125,429594,4610324
3,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Antimoni,µg/L,<5,2.5000,429594,4610324
4,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Arsènic,µg/L,2,2.0000,429594,4610324
...,...,...,...,...,...,...,...,...,...
333608,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Sulfats,mg/L,99,99.0000,0,0
333609,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Suma d'anions,meq/L,8.3517,8.3517,0,0
333610,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Suma de cations,meq/L,8.1841,8.1841,0,0
333611,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,Temperatura de l'aigua,ºC,20.7,20.7000,0,0
333612,2022-09-20,QLSup - Riu Cardener_Estació aforament Súria,1000640C6,TOC,mg/L,2.0,2.0000,0,0