In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import datetime
from sqlalchemy import create_engine
import geopandas as gpd

In [2]:
engine = create_engine('postgresql://traca_user:EdificiH2O!@217.61.208.188:5432/traca_1')
localitzacio_estacions = pd.read_sql('SELECT cod_esta_1, utm_x, utm_y FROM concentracions', engine)
localitzacio_estacions = localitzacio_estacions.drop_duplicates()
localitzacio_estacions = localitzacio_estacions.set_index('cod_esta_1')
localitzacio_estacions.head()

             utm_x    utm_y
cod_esta_1
100013000   407500  4641747
200044000   496519  4656557
210006500   496567  4667751
110017000   435853  4599484
200024000   450572  4642446

In [3]:
concentrations_df = pd.read_sql("""SELECT fecha, estacion, cod_esta_1, utm_x, utm_y, variable, unidad_med, valor_alfa, valor FROM concentracions where (valor_alfa not LIKE '<%%' OR valor_alfa IS NULL)""", engine)
concentrations_df['fecha'] = pd.to_datetime(concentrations_df['fecha'], format = 'mixed')
concentrations_df['origen'] = 'aca'
concentrations_df.head()

,fecha,estacion,cod_esta_1,utm_x,utm_y,variable,unidad_med,valor_alfa,valor,origen
0,2016-07-21 10:00:00,QLSup - El Llobregat des de la Colnia Rosal fi...,100013000,407500,4641747,Epxid d'heptaclor,ng/L,0,0.0000,aca
1,2015-09-01 00:00:00,QLSup - Riera de Cinyana,200044000,496519,4656557,pH,u.pH,7.8,7.8000,aca
2,2007-02-12 00:00:00,QLSup - La Tordera des de la confluncia de la ...,140024000,480394,4612722,Suma d'anions,meq/L,7.9990,7.9990,aca
3,2007-04-24 00:00:00,QLSup - La Tordera des de la confluncia de la ...,140024000,480394,4612722,Suma d'anions,meq/L,6.3672,6.3672,aca
4,2014-09-03 00:00:00,QLSup - Riera de Merola,100023000,406456,4642835,Sodi,mg/L,38,38.0000,aca

In [5]:
#estacions_quimiques_df = pd.read_sql("""SELECT fecha, estacion, cod_esta_1, variable, unidad_med, valor_alfa, valor, _x, _y  FROM estacions_quimiques where (valor_alfa not LIKE '<%%' OR valor_alfa IS NULL)""", engine, parse_dates={'fecha': '%Y/%m/%d'})

estacions_quimiques_df = pd.read_sql("""SELECT fecha, estacion, cod_esta_1, variable, unidad_med, valor_alfa, valor, _x, _y  FROM estacions_quimiques where (valor_alfa not LIKE '<%%' OR valor_alfa IS NULL)""", engine)
estacions_quimiques_df = estacions_quimiques_df.rename(columns = {'_x': 'utm_x', '_y': 'utm_y'})
estacions_quimiques_df['fecha'] = pd.to_datetime(estacions_quimiques_df['fecha'], format = 'mixed')
estacions_quimiques_df['origen'] = 'aca'
estacions_quimiques_df.head()

,fecha,estacion,cod_esta_1,variable,unidad_med,valor_alfa,valor,utm_x,utm_y,origen
0,2008-02-19,QLSup - aiges avall desgus riu Anoia,100088050,Niquel dissolt,µg/L,0.024,24.0,412562.0,4591770.0,aca
1,2008-02-26,QLSup - aiges avall desgus riu Anoia,100088050,Niquel dissolt,µg/L,0.020,20.0,412562.0,4591770.0,aca
2,2008-06-30,QLSup - El Fluvi des de la confluncia del Llie...,210006000,Niquel dissolt,µg/L,0.001,1.0,475572.0,4672101.0,aca
3,2008-06-17,QLSup - aiges avall desgus riu Anoia,100088050,Niquel dissolt,µg/L,0.002,2.0,412562.0,4591770.0,aca
4,2008-06-03,QLSup - aiges avall desgus riu Anoia,100088050,Niquel dissolt,µg/L,0.002,2.0,412562.0,4591770.0,aca

In [6]:
extraccio_tot_df = pd.read_excel("inputs//Extracció_tot_2021_2022.xlsx")
extraccio_tot_df = extraccio_tot_df[~extraccio_tot_df["valor_alfa"].str.startswith("<")]
extraccio_tot_df = extraccio_tot_df.rename(columns = {'cod_estaci': 'cod_esta_1'})
extraccio_tot_df = extraccio_tot_df[extraccio_tot_df['cod_esta_1'].str[0].str.isdigit()]
extraccio_tot_df['utm_x'] = 0
extraccio_tot_df['utm_y'] = 0

for index, row in extraccio_tot_df.iterrows():
    try:
        codi = str(row['cod_esta_1'])
        extraccio_tot_df.loc[index, 'utm_x'] = localitzacio_estacions.loc[codi, 'utm_x']
        extraccio_tot_df.loc[index, 'utm_y'] = localitzacio_estacions.loc[codi, 'utm_y']

    except:
        if codi == '070001070':
            extraccio_tot_df.loc[index, 'utm_x'] = 377293
            extraccio_tot_df.loc[index, 'utm_y'] = 4563761
        elif codi == '095001000':
            extraccio_tot_df.loc[index, 'utm_x'] = 416605
            extraccio_tot_df.loc[index, 'utm_y'] = 4576233
        elif codi == '100014030':
            extraccio_tot_df.loc[index, 'utm_x'] = 409565
            extraccio_tot_df.loc[index, 'utm_y'] = 4659316
        elif codi == '100021030':
            extraccio_tot_df.loc[index, 'utm_x'] = 422202
            extraccio_tot_df.loc[index, 'utm_y'] = 4669805
        elif codi == '100046030':
            extraccio_tot_df.loc[index, 'utm_x'] = 409032
            extraccio_tot_df.loc[index, 'utm_y'] = 4615301
        elif codi == '100054030':
            extraccio_tot_df.loc[index, 'utm_x'] = 391575
            extraccio_tot_df.loc[index, 'utm_y'] = 4661673
        elif codi == '1000640C5':
            extraccio_tot_df.loc[index, 'utm_x'] = 397138
            extraccio_tot_df.loc[index, 'utm_y'] = 4629000
        elif codi == '1000640C6':
            extraccio_tot_df.loc[index, 'utm_x'] = 397235
            extraccio_tot_df.loc[index, 'utm_y'] = 4629814
        elif codi == '100074020':
            extraccio_tot_df.loc[index, 'utm_x'] = 409149
            extraccio_tot_df.loc[index, 'utm_y'] = 4598244
        elif codi == '158180000':
            extraccio_tot_df.loc[index, 'utm_x'] = 293104
            extraccio_tot_df.loc[index, 'utm_y'] = 4597019
        elif codi == '190004000':
            extraccio_tot_df.loc[index, 'utm_x'] = 513701
            extraccio_tot_df.loc[index, 'utm_y'] = 4650219
        elif codi == '200008030':
            extraccio_tot_df.loc[index, 'utm_x'] = 436652
            extraccio_tot_df.loc[index, 'utm_y'] = 4667979
        elif codi == '200011030':
            extraccio_tot_df.loc[index, 'utm_x'] = 438731
            extraccio_tot_df.loc[index, 'utm_y'] = 4662224
        elif codi == '200024011':
            extraccio_tot_df.loc[index, 'utm_x'] = 449370
            extraccio_tot_df.loc[index, 'utm_y'] = 4631505
        elif codi == '200029030':
            extraccio_tot_df.loc[index, 'utm_x'] = 461690
            extraccio_tot_df.loc[index, 'utm_y'] = 4644066
        elif codi == '210001030':
            extraccio_tot_df.loc[index, 'utm_x'] = 449918
            extraccio_tot_df.loc[index, 'utm_y'] = 4666145
        elif codi == '210003030':
            extraccio_tot_df.loc[index, 'utm_x'] = 450506
            extraccio_tot_df.loc[index, 'utm_y'] = 4674098
        elif codi == '210007030':
            extraccio_tot_df.loc[index, 'utm_x'] = 455730
            extraccio_tot_df.loc[index, 'utm_y'] = 4679623
        elif codi == '220001030':
            extraccio_tot_df.loc[index, 'utm_x'] = 475372
            extraccio_tot_df.loc[index, 'utm_y'] = 4686295
        elif codi == '220002030':
            extraccio_tot_df.loc[index, 'utm_x'] = 478606
            extraccio_tot_df.loc[index, 'utm_y'] = 4691654

extraccio_tot_df['origen'] = 'aca'
extraccio_tot_df.head()

C:\Users\jsalo\AppData\Local\Temp\ipykernel_35028\1784173300.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '429594' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  extraccio_tot_df.loc[index, 'utm_x'] = localitzacio_estacions.loc[codi, 'utm_x']
C:\Users\jsalo\AppData\Local\Temp\ipykernel_35028\1784173300.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '4610324' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  extraccio_tot_df.loc[index, 'utm_y'] = localitzacio_estacions.loc[codi, 'utm_y']

,fecha,estacion,cod_esta_1,variable,unidad_med,valor_alfa,valor,utm_x,utm_y,origen
4,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Arsènic,µg/L,2,2.0,429594,4610324,aca
5,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Bari,µg/L,132,132.0,429594,4610324,aca
7,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Bicarbonats,mg HCO3/L,298,298.0,429594,4610324,aca
10,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Calci,mg/L,80,80.0,429594,4610324,aca
13,2021-01-04,QLSup - Capçalera de la riera de Caldes fins a...,110019000,Clorurs,mg/L,28,28.0,429594,4610324,aca

In [7]:
#Només hi ha afegits els farmacèutics de moment, anar ampliant excel i modificant si cal

localitzacio_estacions_traca_df = pd.read_excel("inputs//mostres_riu_traca.xlsx", sheet_name = 'Estacions', )
localitzacio_estacions_traca_df[['lon', 'lat']] = localitzacio_estacions_traca_df['lonlat'].str.split(',', expand=True)
localitzacio_estacions_traca_df = localitzacio_estacions_traca_df.drop(columns=['lonlat'])
gdf = gpd.GeoDataFrame(
    localitzacio_estacions_traca_df, geometry=gpd.points_from_xy(localitzacio_estacions_traca_df.lon, localitzacio_estacions_traca_df.lat), crs="EPSG:4326"
)
gdf = gdf.to_crs("EPSG:25831")
gdf['utm_x'] = gdf.geometry.x
gdf['utm_y'] = gdf.geometry.y


mostres_riu_traca_df = pd.read_excel("inputs//mostres_riu_traca.xlsx", sheet_name = 'Contaminants', skiprows=[1])
mostres_riu_traca_df = pd.melt(mostres_riu_traca_df, id_vars=['SAMPLES'], var_name='variable', value_name='valor')

mostres_riu_traca_df = mostres_riu_traca_df.merge(gdf, left_on='SAMPLES', right_on='sct_code')[['variable', 'valor', 'user_code', 'conca', 'utm_x', 'utm_y', 'Date']]
mostres_riu_traca_df['Date'] = pd.to_datetime(mostres_riu_traca_df['Date'], format = '%Y/%m/%d')

mostres_riu_traca_df['unidad_med'] = 'ng/l'

mostres_riu_traca_df = mostres_riu_traca_df[~mostres_riu_traca_df['valor'].astype(str).str.startswith("<")]
mostres_riu_traca_df.rename(columns = {'Date': 'fecha', 'conca': 'estacion', 'user_code': 'cod_esta_1'}, inplace = True)
mostres_riu_traca_df['valor_alfa'] = mostres_riu_traca_df['valor']
mostres_riu_traca_df['origen'] = 'icra'
mostres_riu_traca_df.head()

,variable,valor,cod_esta_1,estacion,utm_x,utm_y,fecha,unidad_med,valor_alfa,origen
1,Sulfametoxazol,98.004642,P01,Besòs,435034.005357,4.598089e+06,2022-03-30,ng/l,98.004642,icra
3,Venlafaxina,264.312399,P01,Besòs,435034.005357,4.598089e+06,2022-03-30,ng/l,264.312399,icra
5,Sulfametoxazol,82.857594,P01',Besòs,434215.000000,4.596186e+06,2022-03-30,ng/l,82.857594,icra
7,Venlafaxina,233.125604,P01',Besòs,434215.000000,4.596186e+06,2022-03-30,ng/l,233.125604,icra
9,Sulfametoxazol,22.377598,P02,Onyar,485827.346013,4.646875e+06,2022-03-28,ng/l,22.377598,icra

In [8]:
#append all dataframes by column

all_df = pd.concat([concentrations_df, estacions_quimiques_df, extraccio_tot_df, mostres_riu_traca_df], axis=0)
all_df.head()

,fecha,estacion,cod_esta_1,utm_x,utm_y,variable,unidad_med,valor_alfa,valor,origen
0,2016-07-21 10:00:00,QLSup - El Llobregat des de la Colnia Rosal fi...,100013000,407500,4641747,Epxid d'heptaclor,ng/L,0,0.0,aca
1,2015-09-01 00:00:00,QLSup - Riera de Cinyana,200044000,496519,4656557,pH,u.pH,7.8,7.8,aca
2,2007-02-12 00:00:00,QLSup - La Tordera des de la confluncia de la ...,140024000,480394,4612722,Suma d'anions,meq/L,7.9990,7.999,aca
3,2007-04-24 00:00:00,QLSup - La Tordera des de la confluncia de la ...,140024000,480394,4612722,Suma d'anions,meq/L,6.3672,6.3672,aca
4,2014-09-03 00:00:00,QLSup - Riera de Merola,100023000,406456,4642835,Sodi,mg/L,38,38.0,aca

In [9]:
all_df.drop_duplicates(subset=['fecha', 'estacion', 'cod_esta_1', 'variable'], inplace=True)

In [10]:
all_df.head()

,fecha,estacion,cod_esta_1,utm_x,utm_y,variable,unidad_med,valor_alfa,valor,origen
0,2016-07-21 10:00:00,QLSup - El Llobregat des de la Colnia Rosal fi...,100013000,407500,4641747,Epxid d'heptaclor,ng/L,0,0.0,aca
1,2015-09-01 00:00:00,QLSup - Riera de Cinyana,200044000,496519,4656557,pH,u.pH,7.8,7.8,aca
2,2007-02-12 00:00:00,QLSup - La Tordera des de la confluncia de la ...,140024000,480394,4612722,Suma d'anions,meq/L,7.9990,7.999,aca
3,2007-04-24 00:00:00,QLSup - La Tordera des de la confluncia de la ...,140024000,480394,4612722,Suma d'anions,meq/L,6.3672,6.3672,aca
4,2014-09-03 00:00:00,QLSup - Riera de Merola,100023000,406456,4642835,Sodi,mg/L,38,38.0,aca

In [11]:
all_df.to_sql(con=engine, name='estacions_full_1', if_exists='replace', index=False)

485

: