In [67]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import datetime
import sqlalchemy

In [68]:
contaminants_i_nutrients = ["Diuron", "Coure", "Naftalè", "Indeno(1.2.3-C.D)pirè", "Fluorantè", "Benzo(b)fluorantè", "Antracè"]
engine = sqlalchemy.create_engine('postgresql://traca_user:EdificiH2O!@217.61.208.188:5432/traca_1')

In [69]:
#select read sql table from postgresql, select only rows with variable name in contaminants_i_nutrients and cod_estaci doesnt start with a letter
command = 'SELECT * FROM estacions_full WHERE "variable" IN ' + str(tuple(contaminants_i_nutrients))

pollutants = pd.read_sql(command, con=engine)

#remove column index
pollutants = pollutants.drop(columns=['index'])

#drop columns if cod_estaci is null
pollutants = pollutants.dropna(subset=['cod_estaci'])

In [70]:
#delete row if cod_estaci starts with letter
pollutants = pollutants[~pollutants['cod_estaci'].str.startswith(tuple('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))]

In [71]:
def f(unit, value):
    if "µg" in unit:
        return float(value) * 1000
    elif "mg" in unit:
        return float(value) * 1000000
    else:
        return float(value)

In [72]:
pollutants["valor ng/L"] = pollutants.apply(lambda row: f(row['unidad_med'], row['valor']), axis=1)

In [73]:
pollutants

,fecha,estacion,cod_estaci,utm_x,utm_y,variable,unidad_med,valor_alfa,valor,valor ng/L
0,2021-08-17 00:00:00,QLSup - Riu Anoia des de la confluència del ri...,100085000,404119,4588737,Coure,µg/L,2.7,2.70,2700.0
1,2021-08-17 00:00:00,QLSup - Riu Anoia des de la confluència del ri...,100085000,404119,4588737,Diuron,ng/L,44,44.00,44.0
2,2021-08-17 00:00:00,QLSup - Riu Anoia des de la confluència del ri...,100085000,404119,4588737,Naftalè,µg/L,<0.1,0.05,50.0
3,2021-08-17 00:00:00,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,100080000,389318,4602196,Coure,µg/L,2.3,2.30,2300.0
4,2021-08-17 00:00:00,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,100080000,389318,4602196,Diuron,ng/L,86,86.00,86.0
...,...,...,...,...,...,...,...,...,...,...
17830,2021-08-17 00:00:00,QLSup - Riera de l'Avernó i torrent dels Brivons,100086000,400668,4586507,Coure,µg/L,3.3,3.30,3300.0
17831,2021-08-17 00:00:00,QLSup - Riera de l'Avernó i torrent dels Brivons,100086000,400668,4586507,Diuron,ng/L,31,31.00,31.0
17832,2021-08-17 00:00:00,QLSup - Riu Anoia a Les Ribes (Vallbona d'Anoia),100082070,391465,4596923,Coure,µg/L,1.2,1.20,1200.0
17833,2021-08-17 00:00:00,QLSup - Riu Anoia a Les Ribes (Vallbona d'Anoia),100082070,391465,4596923,Diuron,ng/L,110,110.00,110.0
17834,2021-08-17 00:00:00,QLSup - Riu Anoia a Les Ribes (Vallbona d'Anoia),100082070,391465,4596923,Naftalè,µg/L,<0.1,0.05,50.0

In [74]:
#group by cod_estaci and variable, get min, max, mean, std, count

pollutants_grouped = pollutants.groupby(["cod_estaci", "variable"]).agg({"valor ng/L": ["min", "max", "mean", "std", "count"]})

In [75]:
pollutants_grouped

                             valor ng/L                                    \
                                    min     max         mean          std
cod_estaci variable
010001000  Antracè                  0.5     1.0     0.583333     0.204124
           Benzo(b)fluorantè        0.5     2.0     1.166667     0.752773
           Coure                  800.0  3900.0  1614.285714  1065.252038
           Diuron                   5.0    35.0    12.714286    12.037639
           Fluorantè                0.5     1.3     0.816667     0.360093
...                                 ...     ...          ...          ...
230001000  Benzo(b)fluorantè        0.5     0.5     0.500000     0.000000
           Coure                 1100.0  1300.0  1200.000000   141.421356
           Diuron                   5.0     5.0     5.000000     0.000000
           Fluorantè                0.5     0.5     0.500000     0.000000
           Naftalè                 50.0    50.0    50.000000     0.000000


                             count
cod_estaci variable
010001000  Antracè               6
           Benzo(b)fluorantè     6
           Coure                 7
           Diuron                7
           Fluorantè             6
...                            ...
230001000  Benzo(b)fluorantè     2
           Coure                 2
           Diuron                2
           Fluorantè             2
           Naftalè               2

[1486 rows x 5 columns]

In [76]:


pollutants_grouped.to_csv("contaminants_lorena.csv")