In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [3]:
contaminants_i_nutrients = ["Ciprofloxacina", "Clorobenzè", "Hexabromociclodecà", "Nonilfenols", "Octilfenols", "Tetracloroetilè", "Triclorometà", "Cloroalcans", "Niquel dissolt", "Plom dissolt", "Diuron"]

In [16]:
def f(unit, value):
    if "µg" in unit:
        return float(value) * 1000
    elif "mg" in unit:
        return float(value) * 1000000
    else:
        return float(value)

In [50]:
df = pd.read_csv("inputs/estacions_full_MA.csv", encoding='latin1')
df = df[df['variable'].isin(contaminants_i_nutrients)]
df["valor ng/L"] = df.apply(lambda row: f(row['unidad_med'], row['valor']), axis=1)
df['fecha'] = pd.to_datetime(df['fecha'], infer_datetime_format = True)
start = datetime.date(2015, 1, 1).strftime('%Y%m%d')
end = datetime.date(2020, 12, 31).strftime('%Y%m%d')
df

,index,fecha,estacion,cod_estaci,utm_x,utm_y,variable,unidad_med,valor_alfa,valor,codi_aca,valor ng/L
0,618527,2009-01-13,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.003,3.0,1000800,3000.0
1,618528,2008-12-30,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.002,2.0,1000800,2000.0
2,618529,2008-11-19,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.011,11.0,1000800,11000.0
3,618530,2008-10-01,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.015,15.0,1000800,15000.0
4,618531,2008-02-13,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.026,26.0,1000800,26000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103808,618522,2010-11-23,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.012,12.0,1000800,12000.0
103809,618523,2009-12-29,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.006,6.0,1000800,6000.0
103810,618524,2009-04-01,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.011,11.0,1000800,11000.0
103811,618525,2009-05-06,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.008,8.0,1000800,8000.0
103812,618526,2009-03-23,QLSup - Riu Anoia des de l'EDAR d'Igualda fins...,F007452,389318.0,4602196.0,Niquel dissolt,µg/L,0.007,7.0,1000800,7000.0

In [33]:
massa_aigua_df = pd.read_excel("..//inputs//llindars_massa_aigua.xlsx", index_col = 0)
massa_aigua_df

,1000950,1000940,1000900,1000930,1000860,1000920,1000910,1000850,1000840,1000880,...,1000760,1000770,1000750,1000740,1000800,1000710,1000720,1000730,1000690,1000700
Contaminant,,,,,,,,,,,,,,,,,,,,,
Ciprofloxacina,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,...,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0
Clorobenzè,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,...,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0
Hexabromociclodecà,1.6,1.6,1.6,1.6,1.6,1.6,1.6,1.6,1.6,1.6,...,1.6,1.6,1.6,1.6,1.6,1.6,1.6,1.6,1.6,1.6
Mercuri dissolt,70.0,70.0,1000.0,70.0,70.0,70.0,70.0,70.0,70.0,70.0,...,70.0,70.0,70.0,1000.0,70.0,70.0,70.0,70.0,70.0,70.0
Nonilfenols,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0
Octilfenols,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
Sulfametoxazol,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
Tetracloroetilè,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0
Triclorometà,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,...,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0
Trimetoprim,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
Venlafaxina,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
Zinc dissolt,500000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,...,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0
Cloroalcans,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,...,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0
Niquel dissolt,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,...,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0
Plom dissolt,7200.0,7200.0,5000.0,7200.0,7200.0,7200.0,7200.0,7200.0,7200.0,7200.0,...,7200.0,7200.0,7200.0,5000.0,7200.0,7200.0,7200.0,7200.0,7200.0,7200.0
Diuron,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,...,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0

In [53]:
#Nombre observacions
for contaminant in contaminants_i_nutrients:
    df_contaminant = df[df["variable"] == contaminant]
    #print(contaminant, len(df_contaminant))
df_contaminant

,index,fecha,estacion,cod_estaci,utm_x,utm_y,variable,unidad_med,valor_alfa,valor,codi_aca,valor ng/L
109,619030,2019-02-13,QLSup - Riera del Morral del Mol i riera de Sa...,F007449,411356.0,4596167.0,Diuron,µg/L,13,0.01300,1000770,13.00
160,619555,2018-03-16,QLSup - Riera de Rub i riera de les Arenes,F007461,416091.0,4589051.0,Diuron,µg/L,276.81,0.27681,1000890,276.81
270,619970,2010-09-22,La Pobla de Claramunt,NaN,388339.0,4602206.0,Diuron,µg/L,NaN,0.02386,1000800,23.86
280,619992,2010-09-22,Abrera,NaN,410078.0,4594291.0,Diuron,µg/L,NaN,0.00775,1000760,7.75
377,620437,2010-09-22,Martorell,NaN,411036.0,4592524.0,Diuron,µg/L,NaN,0.00100,1000760,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...
91665,556534,2017-10-06,QLSup - El Llobregat des de la confluncia de l...,F007462,420246.0,4578238.0,Diuron,ng/L,12.55,12.55000,1000900,12.55
91666,556537,2020-08-12,QLSup - El Llobregat des de la confluncia de l...,F007462,420246.0,4578238.0,Diuron,ng/L,15,15.00000,1000900,15.00
91667,556538,2020-10-07,QLSup - El Llobregat des de la confluncia de l...,F007462,420246.0,4578238.0,Diuron,ng/L,15,15.00000,1000900,15.00
91668,556539,2020-11-03,QLSup - El Llobregat des de la confluncia de l...,F007462,420246.0,4578238.0,Diuron,ng/L,16,16.00000,1000900,16.00
98339,579047,2019-09-25,QLSup - Riu de Bitlles des de l'EDAR de Riudeb...,F007456,398406.0,4588606.0,Diuron,ng/L,13,13.00000,1000840,13.00

In [45]:
#Nombre incompliments
for contaminant in contaminants_i_nutrients:
    df_contaminant = df[df["variable"] == contaminant]
    aggregated = df_contaminant.groupby(['codi_aca']).max()
    aggregated = aggregated.reset_index()

    aggregated["incompliment"] = aggregated.apply(lambda x: x["valor ng/L"] > massa_aigua_df.loc[contaminant, x["codi_aca"]], axis=1)
    aggregated = aggregated[aggregated["incompliment"]]
    print(contaminant, len(aggregated))

Ciprofloxacina 4
Clorobenzè 0
Hexabromociclodecà 2
Nonilfenols 10
Octilfenols 11
Tetracloroetilè 1
Triclorometà 2
Cloroalcans 1
Niquel dissolt 8
Plom dissolt 2
Diuron 2

C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()
C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()
C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()
C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()
C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()
C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()
C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()
C:\Users\jsalo\AppData\Local\Temp\ipykernel_27760\1679701004.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  aggregated = df_contaminant.groupby(['codi_aca']).max()